In [1]:
import pandas as pd
import numpy as np

In [2]:
ri = pd.read_csv("police.csv", nrows = 50000 ) # ilk 50000 satırı okuttuk

C:\Users\MADCAT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
ri.shape

(50000, 26)

In [4]:
ri.head(5)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

# Dropping columns

In [5]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

In [6]:
ri.dropna(axis =1, how = "all", inplace = True )

In [7]:
ri.shape

(50000, 23)

In [8]:
ri.isnull().sum()

id                        0
state                     0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender          1990
driver_age_raw         1971
driver_age             2208
driver_race_raw        1988
driver_race            1988
violation_raw          1988
violation              1988
search_conducted          0
search_type_raw       47988
search_type           47988
contraband_found          0
stop_outcome           1988
is_arrested            1988
stop_duration          1988
out_of_state           2203
drugs_related_stop        0
district                  0
dtype: int64

In [9]:
# ri.drop(["county_name", "county_fips"], axis = 1, inplace = True) # hepsi aynıu yerde olduğu için bu iki sütüna gerek yok attık

In [10]:
ri.head(2)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

# Dropping rows

In [11]:
ri.dropna(axis = 0 , subset = ["driver_gender"], inplace = True)

In [12]:
ri.isnull().sum()

id                        0
state                     0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

In [13]:
ri.shape

(48010, 23)

# Fixing a data type

In [14]:
ri["is_arrested"].head()

0    False
1    False
3    False
4    False
5    False
Name: is_arrested, dtype: object

In [15]:
ri["is_arrested"].dtype

dtype('O')

In [16]:
ri = ri.astype({"is_arrested": "bool"})

In [17]:
ri["is_arrested"].value_counts()

False    45522
True      2488
Name: is_arrested, dtype: int64

# Combining object columns

In [18]:
idxasdate = ri["stop_date"]+" "+ri["stop_time"] # yeni index iki sütünun toplamı olacak
idxasdate

0        2005-01-02 01:55
1        2005-01-02 20:30
3        2005-01-04 12:55
4        2005-01-06 01:30
5        2005-01-12 08:05
               ...
49995    2006-08-08 22:45
49996    2006-08-08 22:45
49997    2006-08-08 22:53
49998    2006-08-08 23:00
49999    2006-08-08 23:00
Length: 48010, dtype: object

In [19]:
pd.to_datetime(idxasdate)

0       2005-01-02 01:55:00
1       2005-01-02 20:30:00
3       2005-01-04 12:55:00
4       2005-01-06 01:30:00
5       2005-01-12 08:05:00
                ...
49995   2006-08-08 22:45:00
49996   2006-08-08 22:45:00
49997   2006-08-08 22:53:00
49998   2006-08-08 23:00:00
49999   2006-08-08 23:00:00
Length: 48010, dtype: datetime64[ns]

In [20]:
ri["stop_datetime"] = pd.to_datetime(idxasdate)

In [21]:
ri.head(2)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00

In [22]:
ri.dtypes

id                            object
state                         object
stop_date                     object
stop_time                     object
location_raw                  object
police_department             object
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race_raw               object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type_raw               object
search_type                   object
contraband_found                bool
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
out_of_state                  object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

In [23]:
ri.index

Int64Index([    0,     1,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            49990, 49991, 49992, 49993, 49994, 49995, 49996, 49997, 49998,
            49999],
           dtype='int64', length=48010)

In [24]:
ri.set_index("stop_datetime", inplace = True) # iki sütünu concatnate edip indexe atadık

In [25]:
ri.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [26]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48010 entries, 2005-01-02 01:55:00 to 2006-08-08 23:00:00
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   state               48010 non-null  object
 2   stop_date           48010 non-null  object
 3   stop_time           48010 non-null  object
 4   location_raw        48010 non-null  object
 5   police_department   48010 non-null  object
 6   driver_gender       48010 non-null  object
 7   driver_age_raw      48010 non-null  float64
 8   driver_age          47778 non-null  float64
 9   driver_race_raw     48010 non-null  object
 10  driver_race         48010 non-null  object
 11  violation_raw       48010 non-null  object
 12  violation           48010 non-null  object
 13  search_conducted    48010 non-null  bool
 14  search_type_raw     2012 non-null   object
 15  search_type         2012 non-null   object
 16  contraband_found    48010 non-null  bool
 17  stop_outcome        48010 non-null  object
 18  is_arrested         48010 non-null  bool
 19  stop_duration       48010 non-null  object
 20  out_of_state        47795 non-null  object
 21  drugs_related_stop  48010 non-null  bool
 22  district            48010 non-null  object
dtypes: bool(4), float64(2), object(17)
memory usage: 7.5+ MB

# Examining traffic violations

In [27]:
ri["violation"].value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [28]:
ri["violation"].size

48010

In [29]:
ri["violation"].value_counts().apply(lambda x: 100*x/ri["violation"].size)  # violation ları yüzde olarak gösterdik

Speeding               75.215580
Moving violation       13.584670
Equipment               6.294522
Registration/plates     3.047282
Other                   1.857946
Name: violation, dtype: float64

# Comparing violations by gender

In [30]:
df_male = ri[ri["driver_gender"] == "M"]
df_male.head();

In [31]:
df_female = ri[ri["driver_gender"] == "F"]
df_female.head();

In [32]:
# df_female.info() # to check if size correct or not

In [33]:
df_female["violation"].size

13309

In [34]:
df_female["violation"].value_counts().apply(lambda x: 100*x/df_female["violation"].size) # Count the violations committed by female drivers and express them as proportions.

Speeding               81.118040
Moving violation        9.903073
Equipment               4.560824
Registration/plates     2.757532
Other                   1.660530
Name: violation, dtype: float64

In [35]:
# df_male.info()   # to check if size if correct or not

In [36]:
df_male["violation"].size

34701

In [37]:
df_male["violation"].value_counts().apply(lambda x: 100*x/df_male["violation"].size)  # Count the violations committed by male drivers and express them as proportions.

Speeding               72.951788
Moving violation       14.996686
Equipment               6.959454
Registration/plates     3.158410
Other                   1.933662
Name: violation, dtype: float64

# Comparing speeding outcomes by gender

In [38]:
df1_female = ri[(ri["violation"] == "Speeding")&(ri["driver_gender"] == "F")]
df1_male = ri[(ri["violation"] == "Speeding")&(ri["driver_gender"] == "M")]

df1_female.head(1)
#df1_female.info()
#df1_male.info()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [39]:
df1_female["stop_outcome"].value_counts().apply(lambda x: 100*x/df1_female["stop_outcome"].size)

Citation            97.341608
Warning              1.296777
Arrest Driver        0.741015
N/D                  0.361245
Arrest Passenger     0.231567
No Action            0.027788
Name: stop_outcome, dtype: float64

In [40]:
df1_male["stop_outcome"].value_counts().apply(lambda x: 100*x/df1_male["stop_outcome"].size)

Citation            95.729804
Arrest Driver        2.622951
Warning              1.066561
N/D                  0.339720
Arrest Passenger     0.201462
No Action            0.039502
Name: stop_outcome, dtype: float64

# Calculating the search rate

In [41]:
ri["search_conducted"].dtype

dtype('bool')

In [42]:
a = ri["search_conducted"].value_counts()

In [43]:
b = ri["search_conducted"].value_counts().apply(lambda x: 100*x/ri["search_conducted"].size)

In [44]:
resultdf = pd.DataFrame(pd.concat([a,b]))
resultdf.index = ["False_freq","True_freq","False_Percentage","True_Percentage"]
resultdf

                  search_conducted
False_freq            45998.000000
True_freq              2012.000000
False_Percentage         95.809206
True_Percentage           4.190794

In [45]:
resultdf.describe()

       search_conducted
count          4.000000
mean       12027.500000
std        22665.909203
min            4.190794
25%           72.904603
50%         1053.904603
75%        13008.500000
max        45998.000000

In [46]:
a = ri["search_conducted"].mean() * 100
a

4.19079358466986

In [47]:
if resultdf.loc["True_Percentage"][0] == a:
    print("Proportion equal to mean")

Proportion equal to mean

# Comparing search rates by gender

# 1

In [48]:
sample_female = ri[ri["driver_gender"] == "F"]

In [49]:
sample_female.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13309 entries, 2005-02-24 01:20:00 to 2006-08-08 23:00:00
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  13309 non-null  object
 1   state               13309 non-null  object
 2   stop_date           13309 non-null  object
 3   stop_time           13309 non-null  object
 4   location_raw        13309 non-null  object
 5   police_department   13309 non-null  object
 6   driver_gender       13309 non-null  object
 7   driver_age_raw      13309 non-null  float64
 8   driver_age          13239 non-null  float64
 9   driver_race_raw     13309 non-null  object
 10  driver_race         13309 non-null  object
 11  violation_raw       13309 non-null  object
 12  violation           13309 non-null  object
 13  search_conducted    13309 non-null  bool
 14  search_type_raw     237 non-null    object
 15  search_type         237 non-null    object
 16  contraband_found    13309 non-null  bool
 17  stop_outcome        13309 non-null  object
 18  is_arrested         13309 non-null  bool
 19  stop_duration       13309 non-null  object
 20  out_of_state        13252 non-null  object
 21  drugs_related_stop  13309 non-null  bool
 22  district            13309 non-null  object
dtypes: bool(4), float64(2), object(17)
memory usage: 2.1+ MB

In [50]:
a = sample_female["search_conducted"].value_counts()

In [51]:
b = sample_female["search_conducted"].value_counts().apply(lambda x: 100*x/sample_female["search_conducted"].size)

In [52]:
resultdf = pd.DataFrame(pd.concat([a,b]))
resultdf.index = ["False_freq","True_freq","False_Percentage","True_Percentage"]
resultdf.T

                  False_freq  True_freq  False_Percentage  True_Percentage
search_conducted     13072.0      237.0          98.21925          1.78075

In [53]:
sample_female["search_conducted"].mean()*100

1.7807498685100307

# 2

In [54]:
sample_male = ri[ri["driver_gender"] == "M"]

In [55]:
sample_male.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34701 entries, 2005-01-02 01:55:00 to 2006-08-08 23:00:00
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  34701 non-null  object
 1   state               34701 non-null  object
 2   stop_date           34701 non-null  object
 3   stop_time           34701 non-null  object
 4   location_raw        34701 non-null  object
 5   police_department   34701 non-null  object
 6   driver_gender       34701 non-null  object
 7   driver_age_raw      34701 non-null  float64
 8   driver_age          34539 non-null  float64
 9   driver_race_raw     34701 non-null  object
 10  driver_race         34701 non-null  object
 11  violation_raw       34701 non-null  object
 12  violation           34701 non-null  object
 13  search_conducted    34701 non-null  bool
 14  search_type_raw     1775 non-null   object
 15  search_type         1775 non-null   object
 16  contraband_found    34701 non-null  bool
 17  stop_outcome        34701 non-null  object
 18  is_arrested         34701 non-null  bool
 19  stop_duration       34701 non-null  object
 20  out_of_state        34543 non-null  object
 21  drugs_related_stop  34701 non-null  bool
 22  district            34701 non-null  object
dtypes: bool(4), float64(2), object(17)
memory usage: 5.4+ MB

In [56]:
a = sample_male["search_conducted"].value_counts()

In [57]:
b = sample_male["search_conducted"].value_counts().apply(lambda x: 100*x/sample_male["search_conducted"].size)

In [58]:
resultdf = pd.DataFrame(pd.concat([a,b]))
resultdf.index = ["False_freq","True_freq","False_Percentage","True_Percentage"]
resultdf.T

                  False_freq  True_freq  False_Percentage  True_Percentage
search_conducted     32926.0     1775.0         94.884874         5.115126

In [59]:
sample_male["search_conducted"].mean()*100

5.115126365234431

# 3

In [60]:
ri.groupby("driver_gender")[["search_conducted"]].mean()*100

               search_conducted
driver_gender
F                      1.780750
M                      5.115126

# Adding a second factor to the analysis

# 1

In [61]:
ri.groupby("driver_gender")["violation"].value_counts()

driver_gender  violation
F              Speeding               10796
               Moving violation        1318
               Equipment                607
               Registration/plates      367
               Other                    221
M              Speeding               25315
               Moving violation        5204
               Equipment               2415
               Registration/plates     1096
               Other                    671
Name: violation, dtype: int64

In [62]:
ri.groupby("driver_gender")["search_conducted"].value_counts()

driver_gender  search_conducted
F              False               13072
               True                  237
M              False               32926
               True                 1775
Name: search_conducted, dtype: int64

In [63]:
result = ri.groupby("driver_gender")["violation"].value_counts() / ri.groupby("driver_gender")["search_conducted"].value_counts()
resultdf = pd.DataFrame(result)
resultdf.xs(True, level = "search_conducted")

                                           0
driver_gender violation
F             Speeding             45.552743
              Moving violation      5.561181
              Equipment             2.561181
              Registration/plates   1.548523
              Other                 0.932489
M             Speeding             14.261972
              Moving violation      2.931831
              Equipment             1.360563
              Registration/plates   0.617465
              Other                 0.378028

In [64]:
ri.groupby(by=["driver_gender","violation"])["search_conducted"].value_counts().xs(True, level = "search_conducted")

driver_gender  violation
F              Equipment               48
               Moving violation        63
               Other                   10
               Registration/plates     42
               Speeding                74
M              Equipment              298
               Moving violation       462
               Other                  104
               Registration/plates    188
               Speeding               723
Name: search_conducted, dtype: int64

In [65]:
ri.groupby(by=["driver_gender","violation"])["search_conducted"].mean()

driver_gender  violation
F              Equipment              0.079077
               Moving violation       0.047800
               Other                  0.045249
               Registration/plates    0.114441
               Speeding               0.006854
M              Equipment              0.123395
               Moving violation       0.088778
               Other                  0.154993
               Registration/plates    0.171533
               Speeding               0.028560
Name: search_conducted, dtype: float64

# 2

In [66]:
ri.groupby(by=["violation","driver_gender"])["search_conducted"].value_counts()

violation            driver_gender  search_conducted
Equipment            F              False                 559
                                    True                   48
                     M              False                2117
                                    True                  298
Moving violation     F              False                1255
                                    True                   63
                     M              False                4742
                                    True                  462
Other                F              False                 211
                                    True                   10
                     M              False                 567
                                    True                  104
Registration/plates  F              False                 325
                                    True                   42
                     M              False                 908
                                    True                  188
Speeding             F              False               10722
                                    True                   74
                     M              False               24592
                                    True                  723
Name: search_conducted, dtype: int64

In [67]:
ri.groupby(by=["violation","driver_gender"])["search_conducted"].mean()

violation            driver_gender
Equipment            F                0.079077
                     M                0.123395
Moving violation     F                0.047800
                     M                0.088778
Other                F                0.045249
                     M                0.154993
Registration/plates  F                0.114441
                     M                0.171533
Speeding             F                0.006854
                     M                0.028560
Name: search_conducted, dtype: float64

# Counting protective frisks

In [68]:
import re

In [87]:
ri = ri.astype({"search_type": "string"})  # we fixed the data to use in reggex 
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48010 entries, 2005-01-02 01:55:00 to 2006-08-08 23:00:00
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   state               48010 non-null  object
 2   stop_date           48010 non-null  object
 3   stop_time           48010 non-null  object
 4   location_raw        48010 non-null  object
 5   police_department   48010 non-null  object
 6   driver_gender       48010 non-null  object
 7   driver_age_raw      48010 non-null  float64
 8   driver_age          47778 non-null  float64
 9   driver_race_raw     48010 non-null  object
 10  driver_race         48010 non-null  object
 11  violation_raw       48010 non-null  object
 12  violation           48010 non-null  object
 13  search_conducted    48010 non-null  bool
 14  search_type_raw     2012 non-null   object
 15  search_type         48010 non-null  string
 16  contraband_found    48010 non-null  bool
 17  stop_outcome        48010 non-null  object
 18  is_arrested         48010 non-null  bool
 19  stop_duration       48010 non-null  object
 20  out_of_state        47795 non-null  object
 21  drugs_related_stop  48010 non-null  bool
 22  district            48010 non-null  object
 23  frisk               48010 non-null  bool
dtypes: bool(5), float64(2), object(16), string(1)
memory usage: 7.6+ MB

In [88]:
ri["search_type"].value_counts()

<NA>                                                        45998
Incident to Arrest                                            958
Probable Cause                                                244
Protective Frisk                                              204
Inventory                                                     117
Incident to Arrest,Inventory                                  116
Incident to Arrest,Probable Cause                              76
Incident to Arrest,Protective Frisk                            63
Reasonable Suspicion                                           43
Probable Cause,Protective Frisk                                36
Incident to Arrest,Inventory,Protective Frisk                  33
Inventory,Protective Frisk                                     23
Incident to Arrest,Probable Cause,Protective Frisk             20
Incident to Arrest,Inventory,Probable Cause                    19
Protective Frisk,Reasonable Suspicion                          16
Inventory,Probable Cause                                       16
Probable Cause,Reasonable Suspicion                            12
Probable Cause,Protective Frisk,Reasonable Suspicion            5
Incident to Arrest,Reasonable Suspicion                         5
Inventory,Probable Cause,Protective Frisk                       2
Incident to Arrest,Probable Cause,Reasonable Suspicion          1
Inventory,Reasonable Suspicion                                  1
Incident to Arrest,Protective Frisk,Reasonable Suspicion        1
Incident to Arrest,Inventory,Reasonable Suspicion               1
Name: search_type, dtype: Int64

In [89]:
ri["search_type"].value_counts()["Protective Frisk"]  # Count the search_type values to see how many times "Protective Frisk" was the only search type.

204

In [90]:
a = [True if bool(re.search(".*Protective Frisk.*",i)) else False for i in ri["search_type"]] # we searched serie for the statment and make a list of bool
frisk = a

In [91]:
ri["frisk"] = frisk  # Create a new column, frisk, that is True if search_type contains the string "Protective Frisk" and False otherwise.

In [92]:
ri.head(2)
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48010 entries, 2005-01-02 01:55:00 to 2006-08-08 23:00:00
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   state               48010 non-null  object
 2   stop_date           48010 non-null  object
 3   stop_time           48010 non-null  object
 4   location_raw        48010 non-null  object
 5   police_department   48010 non-null  object
 6   driver_gender       48010 non-null  object
 7   driver_age_raw      48010 non-null  float64
 8   driver_age          47778 non-null  float64
 9   driver_race_raw     48010 non-null  object
 10  driver_race         48010 non-null  object
 11  violation_raw       48010 non-null  object
 12  violation           48010 non-null  object
 13  search_conducted    48010 non-null  bool
 14  search_type_raw     2012 non-null   object
 15  search_type         48010 non-null  string
 16  contraband_found    48010 non-null  bool
 17  stop_outcome        48010 non-null  object
 18  is_arrested         48010 non-null  bool
 19  stop_duration       48010 non-null  object
 20  out_of_state        47795 non-null  object
 21  drugs_related_stop  48010 non-null  bool
 22  district            48010 non-null  object
 23  frisk               48010 non-null  bool
dtypes: bool(5), float64(2), object(16), string(1)
memory usage: 7.6+ MB

In [93]:
ri["frisk"].sum()  # Take the sum of frisk to count the total number of frisks.

403

# Comparing frisk rates by gender

In [94]:
search_df = ri[(ri["frisk"] == True)]  # Create a DataFrame, searched, that only contains rows in which search_conducted is True.
search_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 403 entries, 2005-02-09 03:05:00 to 2006-08-08 22:22:00
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  403 non-null    object
 1   state               403 non-null    object
 2   stop_date           403 non-null    object
 3   stop_time           403 non-null    object
 4   location_raw        403 non-null    object
 5   police_department   403 non-null    object
 6   driver_gender       403 non-null    object
 7   driver_age_raw      403 non-null    float64
 8   driver_age          401 non-null    float64
 9   driver_race_raw     403 non-null    object
 10  driver_race         403 non-null    object
 11  violation_raw       403 non-null    object
 12  violation           403 non-null    object
 13  search_conducted    403 non-null    bool
 14  search_type_raw     403 non-null    object
 15  search_type         403 non-null    string
 16  contraband_found    403 non-null    bool
 17  stop_outcome        403 non-null    object
 18  is_arrested         403 non-null    bool
 19  stop_duration       403 non-null    object
 20  out_of_state        399 non-null    object
 21  drugs_related_stop  403 non-null    bool
 22  district            403 non-null    object
 23  frisk               403 non-null    bool
dtypes: bool(5), float64(2), object(16), string(1)
memory usage: 64.9+ KB

In [95]:
ri["frisk"].mean()  # Take the mean of the frisk column to find out what percentage of searches included a frisk.

0.008394084565715476

In [96]:
ri.groupby(by=["driver_gender"])["frisk"].value_counts()

driver_gender  frisk
F              False    13270
               True        39
M              False    34337
               True       364
Name: frisk, dtype: int64

In [97]:
ri.groupby(by=["driver_gender"])["frisk"].count()

driver_gender
F    13309
M    34701
Name: frisk, dtype: int64

In [98]:
a = ri.groupby(by=["driver_gender"])["frisk"].value_counts() / ri.groupby(by=["driver_gender"])["frisk"].count()  # Calculate the frisk rate for each gender using a .groupby().

In [99]:
a.xs(True, level="frisk")

driver_gender
F    0.00293
M    0.01049
Name: frisk, dtype: float64